<h1>Book List</h1>

<!-- <div>
    <h3 [textContent]="book.name"></h3> 
</div>
<div>{{book.name}}</div>  -->

<!-- <div [class]="getClassBinding(1)">
    <h2>First book is {{model.getBookId(1).name}}</h2>
</div>

<div [class]="getClassBinding(2)">
    <h2>Second book is {{model.getBookId(2).name}}</h2>
</div>

<button class="btn btn-success" [class.disabled]="disabled">Submit</button>

<div class="m-3" [ngClass]="getClassObject(1)">
    <h2><span [style.color]="color">First book is {{model.getBookId(1).name}}</span></h2>
</div>

<div class="m-3" [ngClass]="getClassObject(2)">
    <h2><span [ngStyle]="getStyleBinding(2)">Second book is {{model.getBookId(2).name}}</span></h2>
</div> -->


<!-- <div (click)="onClickDiv()">
    <button name="first button" class="btn btn-success" (click)="onClick($event)">Submit</button>
    <button name="second button" class="btn btn-success" (click)="onClick($event)">Submit</button>
</div> -->

<input [value]="name" (keyup.enter)="name=$any($event.target).value; onKeyUp()">

<!-- <input (ngModule)]="name" (keyup.enter)="onKeyUp()"> -->
