<!-- <h1>Book List</h1> -->

<!-- <div>
    <h3 [textContent]="book.name"></h3> 
</div>
<div>{{book.name}}</div>  -->

<!-- <div [class]="getClassBinding(1)">
    <h2>First book is {{model.getBookId(1).name}}</h2>
</div>

<div [class]="getClassBinding(2)">
    <h2>Second book is {{model.getBookId(2).name}}</h2>
</div>

<button class="btn btn-success" [class.disabled]="disabled">Submit</button>

<div class="m-3" [ngClass]="getClassObject(1)">
    <h2><span [style.color]="color">First book is {{model.getBookId(1).name}}</span></h2>
</div>

<div class="m-3" [ngClass]="getClassObject(2)">
    <h2><span [ngStyle]="getStyleBinding(2)">Second book is {{model.getBookId(2).name}}</span></h2>
</div> -->


<!-- <div (click)="onClickDiv()">
    <button name="first button" class="btn btn-success" (click)="onClick($event)">Submit</button>
    <button name="second button" class="btn btn-success" (click)="onClick($event)">Submit</button>
</div> -->

<!-- <input [value]="name" (keyup.enter)="name=$any($event.target).value; onKeyUp()"> -->


<!-- <h3>Lower-Title CasePipe</h3>
{{name1}} <br>
{{name1 | lowercase}}<br>
{{name1 | titlecase}}

<h3>Number Case</h3>

{{price }}<br>
{{price | number }}<br>
{{price | number:'1.3-3'}}

<h3>Date Case</h3>
{{today}}<br>
{{today | date}}<br>
{{today | date:'short'}}<br>
{{today | date:'medium'}}<br>
{{today | date:'MMM d, y, h:mm:ss a'}}<br> -->

<!-- <div *ngIf="model.getBooks().length>0;then bookList else noBook "></div> -->
<!-- There are {{model.getBooks().length}} books on the list</div> -->

<!-- <div *ngIf="model.getBooks().length==0"></div> -->
<!-- There is no book on the list</div> -->

<!-- <div [hidden]="model.getBooks().length==0">
    There are {{model.getBooks().length}} books on the list</div>

<div [hidden]="model.getBooks().length!=0">
    There is no book on the list</div> -->

<!-- <ng-template #bookList>
    There are {{model.getBooks().length}} books on the list
</ng-template>
<ng-template #noBook>
    There is no book on the list
</ng-template> -->

<!-- <div [ngSwitch]="model.getBooks().length">
    <span *ngSwitchCase="0">There is no book</span>
    <span *ngSwitchCase="1">There is 1 book</span>
    <span *ngSwitchDefault>There are many books</span>
</div>

<div [ngSwitch]="model.getBookId(2).name">
    <span *ngSwitchCase="bookName">
        Book name is War and Peace</span>
    <span *ngSwitchCase="'My Childhood'">
        Book name is My Childhood</span>
    <span *ngSwitchDefault>
        Book name is Sweaters</span>
</div> -->

<!-- <div>
    <button (click)="addBook()" class="btn-success">Add Book </button>
    <ul>

        <li *ngFor="let book of model.getBooks()">
            {{book.name}}
            <button class="btn btn-danger" (click)="deleteBook(book)">
                Delete</button>
            <button class="btn btn-primary" (click)="updateBook(book)">
                Update</button>

        </li>

    </ul>
</div>

<ul>

    <li *ngFor="let book of model.getBooks(); index as i; first as f">
        {{i+1}} - {{book.name}} - {{book.price}}
        <span *ngIf="f">is first item</span>
    </li>

</ul> -->
<!-- <ng-template [ngTemplateOutlet]="bookList"
    [ngTemplateOutlet]="{books:model.getBooks()}"></ng-template>
<ng-template [ngTemplateOutlet]="bookList"
    [ngTemplateOutlet]="{books:model.getBooks()}"></ng-template> -->

<!-- <ng-template [ngTemplateOutlet]="bookList"
[ngTemplateOutletContext]="{books:model.getBooks()}">
</ng-template> 

<ng-template [ngTemplateOutlet]="bookList"
[ngTemplateOutletContext]="{books:model.getBooks()}">
</ng-template> 

<ng-template #bookList let-books="books">
    <div>
        <ul>
            <li *ngFor="let book of books">
                {{book.name}}
            </li>
        </ul>
    </div>
</ng-template> -->


<!-- <input type="text" appForEmail> -->

<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="m-2">

                <div class="bg-primary.text-white.m-2.p-2">
                    {{jsonBook}}
                </div>

                <div class="form-group">
                    <label>Name </label>
                    <input required [(ngModel)]="newBook.name" name="bName" #name="ngModel" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label>Writer </label>
                    <input [(ngModel)]="newBook.writer" type="text" class="form-control">
                </div>

                <div class="form-group">
                    <label>Price </label>
                    <input [(ngModel)]="newBook.price" type="text" class="form-control">
                </div>

                <button (click)="addBook(newBook)" class="btn btn-primary">Submit </button>

            </div>
        </div>
    </div>
</div>